@model SoPro24Team06.ViewModels.CreateEditAssignmentTemplateViewModel
@using SoPro24Team06.Enums
@using SoPro24Team06.Models
@using SoPro24Team06.Helpers
@using Microsoft.AspNetCore.Identity

@{
    //-------------------------
    // Author: Vincent Steiner
    //-------------------------
    List<ApplicationRole> roleList = ViewData["roles"] as List<ApplicationRole> ?? new List<ApplicationRole>();
    List<Department> departmentList = ViewData["departments"] as List<Department> ?? new List<Department>();
    List<DueTime> dueInList = ViewData["dueIns"] as List<DueTime> ?? new List<DueTime>();
    List<Contract> contractList = ViewData["contracts"] as List<Contract> ?? new List<Contract>();
    List<ApplicationRole> rolesList = ViewData["processRoles"] as List<ApplicationRole> ?? new List<ApplicationRole>();
}

@foreach (var role in rolesList)
{
    @if (User.IsInRole(role.Name) || User.IsInRole("Administrator")) /* Überprüft ob ein User Zugriff auf die Seite hat*/
    {

        <body>
            <form asp-controller="AssignmentTemplate" asp-action="Create" method="post">
                <input hidden asp-for="processId" value="@Model.processId" />
                <fieldset>
                    <legend>Titel</legend>
                    <input class="form-control" type="text" asp-for="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </fieldset>
                <fieldset style="margin-top: 8px;">
                    <legend>Anweisungen</legend>
                    <textarea class="form-control" placeholder="Schritt 1... " asp-for="Instructions"></textarea>
                </fieldset>
                <legend style="margin-top: 4px;">Aufgabenzuständiger</legend>
                <div>
                    <select class="form-select valid" id="assigneeType" data-val="true"
                        data-val-required="Ein Aufgabenverantwortlicher ist erforderlich" name="AssigneeType"
                        aria-describedby="assigneeType-error" aria-invalid="false">
                        @foreach (AssigneeType x in Enum.GetValues(typeof(AssigneeType)).Cast<AssigneeType>().Where(t => t !=
                       AssigneeType.USER))
                        {
                            int i = (int)x;
                            <option value="@i">@EnumHelper.GetDisplayName(x)</option>
                        }
                    </select>
                </div>
                <div id="roleSelect" style="margin-top: 8px;">
                    <select asp-for="AssignedRole" class="form-select">
                        @foreach (var r in roleList)
                        {
                            <option value="@r.Name">@r.Name</option>
                        }
                    </select>
                </div>
                <fieldset style="margin-top: 8px;">
                    <legend style="margin-top: 4px;">Fälligkeit</legend>
                    <div>
                        <select asp-for="DueIn" id="dueIn" class="form-select">
                            <option value="ASAP">ASAP</option>
                            <option value="2 Wochen vor Start">2 Wochen vor Start</option>
                            <option value="3 Wochen nach Arbeitsbeginn">3 Wochen nach Arbeitsbeginn</option>
                            <option value="3 Monate nach Arbeitsbeginn">3 Monate nach Arbeitsbeginn</option>
                            <option value="6 Monate nach Arbeitsbeginn">6 Monate nach Arbeitsbeginn</option>
                            <option value="Benutzerdefiniert">Benutzerdefiniert</option>
                        </select>
                        <div id="dueInCustom" class="dropdown" asp-for="" style="margin-top: 8px; display: none;">
                            <legend style="margin-top: 4px;">Tage: | Wochen: | Monate: | Vor/Nach:</legend>
                            <select id="days" asp-for="Days">
                                @for (int i = 0; i <= 7; ++i)
                                {
                                    <option value="@i"> @i </option>
                                }
                            </select>
                            <select id="weeks" style="margin-left: 37px;" asp-for="Weeks">
                                @for (int i = 0; i <= 4; ++i)
                                {
                                    <option value="@i"> @i </option>
                                }
                            </select>
                            <select id="months" style="margin-left: 70px;" asp-for="Months">
                                @for (int i = 0; i <= 12; ++i)
                                {
                                    <option value="@i"> @i </option>
                                }
                            </select>
                            <select id="VorNach" style="margin-left: 70px;" asp-for="VorNach">
                                <option value="Vor:">vor Start</option>
                                <option value="Nach:">nach Arbeitsbeginn</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset style="margin-top: 8px;">
                    <legend style="margin-top: 4px;">Vertragstyp</legend>
                    <div class="form-group mt-2">
                        <select asp-for="ForContractsList" class="form-control" multiple="multiple" id="ForContractsLists">
                            @foreach (var c in contractList)
                            {
                                <option value="@c.Label">@c.Label</option>
                            }
                        </select>
                        <span asp-validation-for="ForContractsList" class="text-danger"></span>
                    </div>
                </fieldset>
                <fieldset style="margin-top: 8px;">
                    <legend style="margin-top: 4px;">Abteilung</legend>
                    <div class="form-group mt-2">
                        <select asp-for="ForDepartmentsList" class="form-control" multiple="multiple" id="ForDepartmentsLists">
                            @foreach (var d in departmentList)
                            {
                                <option value="@d.Name">@d.Name</option>
                            }
                        </select>
                        <span asp-validation-for="ForDepartmentsList" class="text-danger"></span>
                    </div>
                </fieldset>
                <button class="btn btn-dark" type="submit" style="margin-top: 12px;">Erstellen</button>
            </form>

            @section Scripts {
        <!-- Ist Javascript, für die Mehrfachauswahl von Departments und Contracts -->
        <partial name="_ValidationScriptsPartial" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
        <script>
            $(document).ready(function () {
                $('#ForDepartmentsLists').select2({
                    placeholder: "Wählen Sie Abteilungen aus",
                    allowClear: true
                });

                $('#ForContractsLists').select2({
                    placeholder: "Wählen Sie Verträge aus",
                    allowClear: true
                });

                var popup = $("#usercreate-popup");
                if (popup.length) {
                    setTimeout(function () {
                        popup.fadeOut("slow", function () {
                            popup.remove();
                        });
                    }, 3000);
                }
            });
        </script>
        <script>
            // Ist Javascript dafür das die Rollen auswahl nur da ist wenn man Rolle im Dropdownmenü auswählt
            document.getElementById('assigneeType').addEventListener('change', function () {
                var roleSelect = document.getElementById('roleSelect');
                if (this.value === '0') {
                    roleSelect.style.display = 'block';
                } else {
                    roleSelect.style.display = 'none';
                }
            });
        </script>
        <script>
            // Ist Javascript dafür die Benutzerdefinierte DueTimes
            document.getElementById('dueIn').addEventListener('change', function () {
                var customDiv = document.getElementById('dueInCustom');
                if (this.value === 'Benutzerdefiniert') {
                    customDiv.style.display = 'block';
                } else {
                    customDiv.style.display = 'none';
                }
            });
        </script>
            }
        </body>
        break;
    }
}
