<!-- beginn codeownership Jan Pfluger  -->
@model SoPro24Team06.ViewModels.AssignmentEditViewModel

<form id="Edit" method="post" asp-action="EditAssignment">
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.Assignment.Id)
	@Html.HiddenFor(model => model.ProcessTitle)
	@Html.HiddenFor(model => model.Assignment)
	<fieldset>
		<legend>Title</legend>
		<input class="form-control" type="text" asp-for="Assignment.Title" id="title">
		@Html.ValidationMessageFor(model => model.Assignment.Title, "", new { @class = "text-danger" })
	</fieldset>
	<fieldset style="margin-top: 4px">
		<legend>Vorgang</legend>
		<p>@Model.ProcessTitle</p>
	</fieldset>
	<fieldset>
		<legend>Anleitung</legend>
		<textarea class="form-control" asp-for="Assignment.Instructions" rows="10"></textarea>
		@Html.ValidationMessageFor(model => model.Assignment.Instructions, "", new { @class = "text-danger" })
	</fieldset>
	<fieldset style="margin-top: 4px">
		<legend>Aufgabenverantwortlichkeit</legend>
		@Html.DropDownListFor(
					model => model.Assignment.AssigneeType,
					Model.AssigneeTypeList,
					new { @id = "assignmentTypeDropdown", @class = "form-control", }
					)
		@Html.ValidationMessageFor(model => model.Assignment.AssigneeType, "", new { @class = "text-danger" })
		<div id="assignedRoleGroup" style="display:none; margin-top:8px;">
			@Html.DropDownListFor(
							model => model.SelectedRoleId,
							Model.RoleList,
							new { @class = "form-control", @id = "assignedRoleDropdown" }
							)
			@Html.ValidationMessageFor(model => model.Assignment.AssignedRole, "", new { @class = "text-danger" })
			<div class="text-danger" id="roleError"></div>
		</div>
		<div id="assigneeGroup" style="display:none; margin-top:8px;">
			@Html.DropDownListFor(
							model => model.SelectedUserId,
							Model.UserList,
							new { @class = "form-control", @id = "assignedUserDropdown" }
							)
			@Html.ValidationMessageFor(model => model.Assignment.Assignee, "", new { @class = "text-danger" })
		</div>
	</fieldset>
	<fieldset>
		<legend>Fällig am:</legend>
		<input class="form-control" type="date" asp-for="Assignment.DueDate" asp-asp-format="{0:yyyy-MM-dd}"
			value="@Model.Assignment.DueDate.ToString("yyyy-MM-dd")" id="dueDate" name="Assignment.DueDate">
		@Html.ValidationMessageFor(model => model.Assignment.DueDate, "", new { @class = "text-danger" })
	</fieldset>
	<fieldset style="margin-top: 4px">
		<legend>Status</legend>
		@Html.DropDownListFor(
					model => model.Assignment.Status,
					Model.AssignmentStatusList,
					new { @class = "form-control", @id = "assignmentStatusDropdown" }
					)
		@Html.ValidationMessageFor(model => model.Assignment.Status, "", new { @class = "text-danger" })
	</fieldset>
	<div style="margin-top: 12px">
		<button type="submit" class="btn btn-primary">Bestätigen</button>
		<a href="/Assignment/OnEditCanceled" type="button" class="btn btn-secondary">Schließen
			ohne
			Speicher</a>
	</div>
</form>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		updateDropdownVisibility();
		document.getElementById('assignmentTypeDropdown').addEventListener('change', updateDropdownVisibility);

		document.getElementById('Details').addEventListener('submit', function (event) {
			if (!validateForm()) {
				event.preventDefault(); // Verhindert das Abschicken des Formulars
			}
		});
	});

	function updateDropdownVisibility() {
		var assignedRoleGroup = document.getElementById('assignedRoleGroup');
		var assigneeGroup = document.getElementById('assigneeGroup');
		var assignmentType = document.getElementById('assignmentTypeDropdown').value;

		if (assignmentType === '@SoPro24Team06.Enums.AssigneeType.ROLES.ToString()') {
			assignedRoleGroup.style.display = 'block';
			assigneeGroup.style.display = 'none';
		} else if (assignmentType === '@SoPro24Team06.Enums.AssigneeType.USER.ToString()') {
			assignedRoleGroup.style.display = 'none';
			assigneeGroup.style.display = 'block';
		} else {
			assignedRoleGroup.style.display = 'none';
			assigneeGroup.style.display = 'none';
		}
	}

	function validateForm() {

		let isValid = true;
		document.querySelectorAll('.text-danger').forEach(function (element) {
			element.textContent = '';
		});

		const assignmentTitle = document.getElementById('title').textContent;
		if (!assignmentTitle || assignmentTitle === "" || assignmentTitle === " ") {
			document.getElementById('Assignment_Title').textContent = 'Bitte legen sie einen Title fest.';
			isValid = false;
		}

		const assignmentType = document.getElementById('assignmentTypeDropdown').value;
		if (!assignmentType) {
			document.getElementById('Assignment_AssigneeType').textContent = 'Bitte wählen Sie eine Aufgabenverantwortlichkeit aus.';
			isValid = false;
		}
		if (assignmentType === '@SoPro24Team06.Enums.AssigneeType.ROLES') {
			const assignedRole = document.getElementById('assignedRoleDropdown').value;
			if (assignedRole === '') {
				document.getElementById('Assignment_AssignedRole').textContent = 'Bitte wählen Sie eine Rolle aus.';
				isValid = false;
			}
		} else if (assignmentType === '@SoPro24Team06.Enums.AssigneeType.USER') {
			const assignedUser = document.getElementById('assignedUserDropdown').value;
			if (assignedUser === '') {
				document.getElementById('Assignment_Assignee').textContent = 'Bitte wählen Sie einen Nutzer aus.';
				isValid = false;
			}
		}
		const assignmentStatus = document.getElementById('assignmentStatusDropdown').value;
		if (!assignmentStatus) {
			document.getElementById('Assignment_Status').textContent = 'Bitte wählen Sie einen Bearbeitungsstatus aus.';
			isValid = false;
		}
		const assignmentDueDate = document.getElementById('dueDate').value;
		if (!assignmentDueDate || !assignmentDueDate.match(/^\d{2}\.\d{2}\.\d{4}$/)) {
			document.getElementById('Assignment_DueDate').textContent = 'Bitte wählen Sie einen Fälligkeitsdatum im Format (TT.MM.YYYY) aus.';
			isValid = false;
		}
	@* if (!assignmentDueDate || assignmentDueDate.match(/^\d{2}.\d{2}.\d{4})) {
			document.getElementById('Assignment_DueDate').textContent = 'Bitte wählen Sie einen Fälligkeitsdatum im Format (TT.MM.YYYY) aus.';
			isValid = false;
			} *@
		return isValid;
	}
</script>
<!-- end codeownership Jan Pfluger -->