@using Microsoft.AspNetCore.Identity
@using SoPro24Team06.Helpers
@model SoPro24Team06.ViewModels.ProcessTemplateViewModel
@{
    //-------------------------
    // Author: Kevin Tornquist
    //-------------------------

    ViewData["Title"] = "Prozess erstellen";

    List<ApplicationUser> Users = ViewData["Users"] as List<ApplicationUser>;
    List<ProcessTemplate> ProcessTemplates = ViewData["ProcessTemplates"] as List<ProcessTemplate>;
    List<AssignmentTemplate> AssignmentTemplates = ViewData["AssignmentTemplates"] as List<AssignmentTemplate>;
    List<Contract> Contracts = ViewData["Contracts"] as List<Contract>;
    List<Department> Departments = ViewData["Departments"] as List<Department>;
    List<ApplicationRole> Roles = ViewData["Roles"] as List<ApplicationRole>;
}

<form asp-controller="ProcessTemplate" method="post">
    <!-- Create: Titel -->
    <fieldset style="margin-top: 12px">
        <legend>Prozesstitel</legend>
        <input class="form-control" type="text" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </fieldset>
    <!-- Create: Titel -->
    <!-- Create: Beschreibung -->
    <fieldset style="margin-top: 12px">
        <legend>Beschreibung</legend>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </fieldset>
    <!-- Create: Beschreibung -->
    <!-- Create: Vertragstyp -->
    <fieldset style="margin-top: 12px">
        <legend>Vertragstyp</legend>
        @if (Contracts == null || Contracts.Count == 0)
        {
            <p>Keine Vertr채ge vorhanden</p>
        }
        else
        {
            <select class="form-select" asp-for="ContractOfRefWorkerId">
                @foreach (var contract in Contracts)
                {
                    <option value="@contract.Id">@contract.Label</option>
                }
            </select>
            <span asp-validation-for="ContractOfRefWorkerId" class="text-danger"></span>
        }
    </fieldset>
    <!-- Create: Vertragstyp -->
    <!-- Create: Rollen -->
    <fieldset style="margin-top: 12px">
        <legend>Rolle</legend>
        @if (Roles == null || Roles.Count == 0)
        {
            <p>Keine Rollen vorhanden</p>
        }
        else
        {
            <select asp-for="RolesWithAccess" class="form-control" multiple="multiple" id="SelectedRoles">
                @foreach (var role in Roles)
                {
                    <option value="@role.Name">@role</option>
                }
            </select>
            <span asp-validation-for="RolesWithAccess" class="text-danger"></span>
        }
    </fieldset>
    <!-- Create: Rollen -->
    <!-- Create: Abteilung -->
    <fieldset style="margin-top: 12px">
        <legend>Abteilung</legend>
        @if (Departments == null || Departments.Count == 0)
        {
            <p>Keine Abteilungen vorhanden</p>
        }
        else
        {

            <select class="form-select" asp-for="DepartmentOfRefWorkerId">
                @foreach (var department in Departments)
                {
                    <option value="@department.Id">@department.Name</option>
                }
            </select>
            <span asp-validation-for="DepartmentOfRefWorkerId" class="text-danger"></span>
        }
    </fieldset>
    <!-- Create: Abteilung -->
    <!-- Start: Aufgaben Select -->
    <fieldset style="margin-top: 12px;">
        <legend>Aufgaben</legend>
        <button aria-label="create-assignment-button" asp-action="RedirectAssignmentTemplateCreate" type="submit" class="btn "
            style="background-color: var(--ash); color: white;">
            Aufgabe hinzuf체gen
        </button>
        <div class="table-responsive">
            @if (AssignmentTemplates == null || AssignmentTemplates.Count == 0 ||
            @Model.SelectedAssignmentTemplateIds.Count
            == 0 || @Model.SelectedAssignmentTemplateIds == null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Anleitung</th>
                            <th>Aufgabenverantwortlicher</th>
                            <th>Zugewiesene Rolle</th>
                            <th>Zu Erledigen bis:</th>
                            <th>Aktionen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td colspan="6">
                            <p>Keine Aufgaben vorhanden</p>
                        </td>
                    </tbody>
                </table>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Anleitung</th>
                            <th>Aufgabenverantwortlicher</th>
                            <th>Zugewiesene Rolle</th>
                            <th>Zu Erledigen bis:</th>
                            <th>Aktionen</th>
                        </tr>
                    </thead>
                    <tbody id="assignments" name="assignments">
                        @foreach (var at in AssignmentTemplates)
                        {
                            @if (at.ProcessTemplateId == @Model.Id)
                            {
                                <tr>
                                    <td>@at.Title</td>
                                    <td>@at.Instructions</td>
                                    <td>@EnumHelper.GetDisplayName(@at.AssigneeType)</td>
                                    <td>@at.AssignedRole</td>
                                    <td>@at.DueIn.Label</td>
                                    <td class="d-flex flex-row justify-content-evenly gap-3">
                                        <a href="/AssignmentTemplate/Edit/@at.Id"><i class="far fa-edit"
                                                style="font-size: 20px; color: rgb(0, 0, 0)"></i></a>
                                        <button type="button" class="btn-close" type="button" aria-label="Close"
                                            onclick="deleteItem(@at.Id)"></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                <div class="form-group" style="margin-top: 12px; display: none;">
                    <select id="selectedAssignmentTemplate" asp-for="SelectedAssignmentTemplateIds" class="form-control"
                        multiple="multiple">
                        @foreach (var template in AssignmentTemplates)
                        {
                            <option value="@template.Id">@template.Title</option>
                        }
                    </select>
                    <span asp-validation-for="SelectedAssignmentTemplateIds" class="text-danger"></span>
                </div>
            }
        </div>
    </fieldset>
    <!-- Ende: Aufgaben Select -->
    <div style="margin-top: 36px">
        <button aria-label="create-process-template-submit" asp-action="Create" class="btn" type="submit"
            style="background-color: var(--lemming); color: white;">
            Erstellen
        </button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#SelectedRoles').select2({
                placeholder: "W채hlen Sie Rollen aus",
                allowClear: true
            });
            $('#selectedAssignmentTemplate').select2({
                placeholder: "F체gen Sie Aufgaben hinzu",
                allowClear: true
            });
        });
    </script>
}