@model SoPro24Team06.ViewModels.ProcessTemplateViewModel

<form asp-controller="ProcessTemplate" asp-action="Edit" method="post">
  <fieldset style="margin-top: 8px">
    <legend>Prozesstitel</legend>
    <input class="form-control" type="text" asp-for="Title" />
    <span asp-validation-for="Title" class="text-danger"></span>
  </fieldset>
  <fieldset style="margin-top: 8px">
    <legend>Vertragstyp</legend>
    <button class="btn btn-primary" type="button" data-bs-target="#modal-contract" data-bs-toggle="modal"
      style="margin-top: 0px; margin-bottom: 0px">
      Vertragstyp
    </button>
    <span asp-validation-for="ContractOfRefWorker" class="text-danger"></span>
  </fieldset>
  <fieldset style="margin-top: 8px">
    <legend>Rolle</legend>
    <button class="btn btn-primary" type="button" data-bs-target="#modal-role" data-bs-toggle="modal"
      style="margin-top: 0px; margin-bottom: 0px; margin-right: 12px">
      Rolle
    </button>
    <span asp-validation-for="RolesWithAccess" class="text-danger"></span>
  </fieldset>
  <fieldset style="margin-top: 8px">
    <legend>Abteilung</legend>
    <button class="btn btn-primary" type="button" data-bs-target="#modal-department" data-bs-toggle="modal"
      style="margin-top: 0px; margin-bottom: 0px">
      Abteilung
    </button>
    <span asp-validation-for="DepartmentOfRefWorker" class="text-danger"></span>
  </fieldset>
  <fieldset style="margin-top: 8px">
    <legend>Beschreibung</legend>
    <textarea class="form-control" asp-for="Description"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
  </fieldset>
  <fieldset style="margin-top: 8px">
    <legend>
      Aufgaben
      <button class="btn btn-primary" type="button" style="margin-left: 16px" data-bs-target="#modal-task"
        data-bs-toggle="modal">
        Aufgaben hinzufügen
      </button>
    </legend>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Titel</th>
            <th>Anleitung</th>
            <th>Aufgabenzuständiger</th>
            <th>Vertragsart</th>
            <th>Abteilung</th>
            <th>Aktionen</th>
          </tr>
        </thead>
        <tbody>
          @if (Model.SelectedAssignmentTemplates.Count == 0)
          {
            <tr>
              <td colspan="6">Keine Aufgaben vorhanden</td>
            </tr>
          }
          else
          {
            @foreach (var assignment in Model.SelectedAssignmentTemplates)
            {
              <tr>
                <td>@assignment.Title</td>
                <td>@assignment.Instructions</td>
                <td>@assignment.AssigneeType</td>
                <td>
                  <button type="button" class="btn btn-danger" onclick="removeTask(@assignment.Id)">Entfernen</button>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </fieldset>
  <button class="btn btn-primary" type="submit" style="margin-top: 12px">
    Erstellen
  </button>
</form>

<!-- Start: AufgabenModal -->
<div class="modal fade" role="dialog" tabindex="-1" id="modal-task">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Füge weitere Aufgaben hinzu</h4>
        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Aufgabentitel</th>
                <th>Aktion</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var task in Model.AssignmentTemplates)
              {
                <tr>
                  <td>@task.Title</td>
                  <td class="text-center">
                    <button class="btn btn-primary" type="button" onclick="addTask(@task.Id)">Hinzufügen</button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-light" type="button" data-bs-dismiss="modal">Zurück</button>
      </div>
    </div>
  </div>
</div>
<!-- End: AufgabenModal -->

<!-- Start: RollenModal -->
<div class="modal fade" role="dialog" tabindex="-1" id="modal-role">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Füge weitere Rollen hinzu</h4>
        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Rolle</th>
                <th>Aktion</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var role in Model.Roles)
              {
                <tr>
                  <td>@role.Name</td>
                  <td class="text-center">
                    <button class="btn btn-primary" type="button" onclick="addRole('@role.Id')">Hinzufügen</button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-light" type="button" data-bs-dismiss="modal">Zurück</button>
      </div>
    </div>
  </div>
</div>
<!-- End: RollenModal -->

<!-- Start: AbteilungModal -->
<div class="modal fade" role="dialog" tabindex="-1" id="modal-department">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Füge weitere Abteilungen hinzu</h4>
        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Abteilung</th>
                <th>Aktion</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var department in Model.Departments)
              {
                <tr>
                  <td>@department.Name</td>
                  <td class="text-center">
                    <button class="btn btn-primary" type="button"
                      onclick="addDepartment('@department.Id')">Hinzufügen</button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-light" type="button" data-bs-dismiss="modal">Zurück</button>
      </div>
    </div>
  </div>
</div>
<!-- End: RollenModal -->

<script>
  function addTask(id) {
    // Logic to add the task to the form
  }

  function removeTask(id) {
    // Logic to remove the task from the form
  }

  function addRole(id) {
    // Logic to add the role to the form
  }

  function addDepartment(id) {
    // Logic to add the role to the form
  }
</script>

@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}
