@model SoPro24Team06.ViewModels.ProcessTemplateListViewModel

@{
  //-------------------------
  // Author: Kevin Tornquist
  //-------------------------

  ViewData["Title"] = "Prozesse";
  Boolean isUserAdmin = (Boolean)ViewData["isUserAdmin"];
}

<!-- Start: Banner Heading -->
<section class="py-4 py-xl-5">
  <div style="width: 100%; max-width: 1200px;">
    <div class="text-white bg-dark border rounded border-0 p-4 p-md-5" style="
        background: linear-gradient(
            170deg,
            rgb(13, 63, 148) 0%,
            rgb(97, 130, 185) 62%,
            white 100%,
            rgb(230, 29, 71) 100%,
            rgb(245, 165, 182) 100%
          ),
          rgb(13, 63, 148);
        color: rgb(255, 255, 255);
      ">
      <h2 class="fw-bold text-white mb-3">Prozesse</h2>
      <p class="text-white mb-4" style="font-size: 20px">
        Erstellen Sie Blaupausen für Vorgänge oder wählen Sie einen bereits
        erstellten Prozess als Blaupause aus, um einen Vorgang zu kreieren.
      </p>
      <div class="my-3">
        @if (isUserAdmin)
        {
          <a class="btn btn-primary btn-lg me-2" role="button" asp-controller="ProcessTemplate" asp-action="Create"
            style="background: rgb(204, 212, 217); border-style: none">
            Prozess erstellen
          </a>
        }
      </div>
    </div>
  </div>
</section>
<!-- End: Banner Heading -->
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Beschreibung</th>
        <th>Vertragstyp</th>
        <th>Abteilung</th>
        <th>Rollen</th>
        <th>Aktionen</th>
      </tr>
    </thead>
    <tbody>
      @if (Model.ProcessTemplateList == null || Model.ProcessTemplateList.Count == 0)
      {
        <tr>
          <td colspan="7">Keine Prozesse vorhanden</td>
        </tr>
      }
      else
      {
        @foreach (var processTemplate in @Model.ProcessTemplateList)
        {
          <tr onclick="window.location='/ProcessTemplate/Detail/@processTemplate.Id'" class="hoverTableRow">
            <td>@processTemplate.Title</td>
            @if (processTemplate.Description != null)
            {
              <td>@Html.Raw(processTemplate.Description.Replace("\n", "<br>"))</td>
            }
            else
            {
              <td></td>
            }
            <td>@processTemplate.ContractOfRefWorker?.Label</td>
            <td>@processTemplate.DepartmentOfRefWorker?.Name</td>
            <td>
              @foreach (var role in processTemplate.RolesWithAccess)
              {
                <span class="badge bg-secondary">@role.Name</span>
              }
            </td>
            <td class="d-flex flex-row justify-content-evenly gap-3">
              <a href="/ProcessTemplate/Edit/@processTemplate.Id"><i class="far fa-edit"
                  style="font-size: 20px; color: rgb(0, 0, 0)"></i></a>
              @if (isUserAdmin)
              {
                <a href="/ProcessTemplate/Delete/@processTemplate.Id" class="btn-close" type="button" aria-label="Close"></a>
              }
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
