<!------------------------- 
< Author: Tamas Varadi
<------------------------->

@model SoPro24Team06.ViewModels.DetailProcessViewModel
@using SoPro24Team06.Enums
@using SoPro24Team06.Helpers;
@{
    ViewData["Title"] = "Vorgang bearbeiten";

    var vertragsArt = @Model.ContractOfRefWorker.Label ?? "Alle";
    var abteilung = @Model.DepartmentOfRefWorker.Name ?? "Alle";
}

<form asp-action="Detail" method="post">

    <input type="hidden" asp-for="Id" value="@Model.Id" />

    <fieldset style="margin-top: 8px;">
        <legend>Titel</legend>
        <input class="form-control" readonly value="@Model.Title" />
    </fieldset>
    <fieldset style="margin-top: 8px;">
        <legend>Beschreibung</legend>
        <textarea asp-for="Description" class="form-control" readonly></textarea>
    </fieldset>
    
    <fieldset style="margin-top: 8px;">
        <legend>Vorgangsverantwortlicher</legend>
        <input class="form-control" readonly value="@Model.Supervisor.FullName" />
    </fieldset>

    <fieldset style="margin-top: 8px;">
        <legend>Bezugsperson</legend>
        <input class="form-control" readonly value="@Model.WorkerOfReference.FullName" />
    </fieldset>
    
    <fieldset style="margin-top: 8px;">
        <legend>Vertragsart</legend>
        <input class="form-control" readonly value="@vertragsArt" />
    </fieldset>
    <fieldset style="margin-top: 8px;">
        <legend>Abteilung</legend>
        <input class="form-control" readonly value="@abteilung" />
    </fieldset>

    <!-- Beginn: Zieldatum Input -->
    <fieldset style="margin-top: 8px;">
        <legend>Zieldatum</legend>
        <input class="form-control" readonly value="@Model.DueDate.Date.ToString("dd.MM.yyyy")"/>
    </fieldset>
    <!-- Ende: Zieldatum Input -->
    
    <fieldset style="margin-top: 8px;">
        <legend>Aufgaben</legend>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Titel</th>
                    <th>Anleitung</th>
                    <th>Zieldatum</th>
                    <th>Status</th>
                    @if (Model.IsArchived == false)
                    {
                        <th>Aktionen</th>
                    }
                </tr>
                </thead>
                <tbody id="assignments" name="assignments">
                @if (@Model.Assignments != null && @Model.Assignments.Count > 0)
                {
                    @foreach (Assignment assignment in @Model.Assignments)
                    {
                        var title = assignment.Title;
                        var description = assignment.Instructions;
                        var due_date = assignment.DueDate;

                        var status = EnumHelper.GetDisplayName(assignment.Status);

                        <tr class="hoverTableRow" id="templateItem" name="" 
                            onclick="window.location='/Process/DetailRedirectEditAssignment/@Model.Id?assignmentId=@assignment.Id'" id="assignmentItem">
                            <td>@title</td>
                            <td><a href="#">Mehr anzeigen</a></td>
                            <td>@assignment.DueDate</td>
                            <td>@status</td>
                            @if (Model.IsArchived == false)
                            {
                                <td class="d-flex flex-row">
                                    
                                        @if (assignment.Status == AssignmentStatus.NOT_STARTED)
                                        {
                                            <a href="/Process/UpdateAssignmentStatus/@Model.Id?assignmentId=@assignment.Id&status=@AssignmentStatus.IN_PROGRESS" class='btn btn-primary' type='button' style='background-color: #FFB199;'
                                               onclick=''>Annehmen</a>
                                        }
                                        @if (assignment.Status == AssignmentStatus.IN_PROGRESS)
                                        {
                                            <a href="/Process/UpdateAssignmentStatus/@Model.Id?assignmentId=@assignment.Id&status=@AssignmentStatus.DONE" class='btn btn-success' type='button' style='background-color: var(--lemming); color: white;'
                                               onclick=''>Erledigen</a>
                                        }
                                        @if (assignment.Status == AssignmentStatus.DONE)
                                        {
                                            <a class='btn' type='button' style='margin-left: 16px; background-color: #FFFFFF; color: #FFFFFF;'
                                               onclick=''>nichts zu tun</a>
                                        }
                                </td>
                                }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>Keine Aufgabevorlagen vorhanden</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </fieldset>
    <input type="hidden" asp-for="Assignments" />

    <a class="btn" style="background-color: var(--ash); color: white;" href="/Process">Zurück</a>
    
    @if (!Model.IsArchived && User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value == Model.Supervisor.Id)
    {
        <a class="btn" style="background-color: var(--lemming); color: white;" href="/Process/Edit/@Model.Id">Bearbeiten</a>
    }

</form>