<!------------------------- 
< Author: Tamas Varadi
<------------------------->
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Newtonsoft.Json.Serialization
@model SoPro24Team06.ViewModels.ProcessListViewModel
@{
    ViewData["Title"] = "Vorgänge";

    List<Process> MyProcesses = ViewData["MyProcesses"] as List<Process>;
    List<Process> AllProcesses = new List<Process> { };
    List<Process> AllArchivedProcesses = new List<Process> { };
    List<Process> ArchivedProcesses = new List<Process> { };

    if (ViewData["AllProcesses"] != null)
    {
        AllProcesses = ViewData["AllProcesses"] as List<Process>;
    }
    
    if (ViewData["AllArchivedProcesses"] != null)
    {
        AllArchivedProcesses = ViewData["AllArchivedProcesses"] as List<Process>;
    }

    if (ViewData["ArchivedProcesses"] != null)
    {
        ArchivedProcesses = ViewData["ArchivedProcesses"] as List<Process>;
    }
    
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

    bool canStartProcesses = false;

    if (ViewData["CanStartProcesses"] != null)
    {
        canStartProcesses = (bool) ViewData["CanStartProcesses"];
    }
}

<body>
    <!-- Start: Banner Heading -->
    <section class="py-4 py-xl-5" style="padding: 32px 0;">
        <div class="container">
            <div class="text-white bg-dark border rounded border-0 p-4 p-md-5"
                style="background: linear-gradient(150deg, var(--bs-danger) 0%, rgb(245,165,182) 60%, white 100%, rgb(230, 29, 71) 100%), rgb(230, 29, 71);">
                <h2 class="fw-bold text-black mb-3">Vorgänge</h2>
                @if (canStartProcesses)
                {
                    <p class="text-black mb-4" style="font-size: 20px;">Wähle einen beliebigen Prozess aus als Blaupause für
                    um einen Vorgang zu kreieren.</p>
                
                    <div class="my-3">
                        <a class="btn btn-primary btn-lg me-2" role="button" asp-controller="Process"
                           asp-action="Start" style="background: rgb(204, 212, 217);border-style: none;">Vorgang starten
                        </a>
                    </div>
                }
                else
                {
                    <p class="text-black mb-4" style="font-size: 20px;">Wähle einen bestehenden Vorgang aus, um Details einzusehen.</p>
                }
            </div>
        </div>
    </section><!-- End: Banner Heading -->
    <div class="d-flex justify-content-between align-items-xxl-center">
        <div class="btn-toolbar">
            <div class="btn-group" role="group">
                <button class="btn btn-secondary" type="button" id="myProcessesButton"
                        onclick="changeTable('myProcessesTable', this)">Meine Vorgänge</button>
                <button class="btn btn-secondary" type="button" id="archivedProcessesButton"
                        onclick="changeTable('archivedProcessesTable', this)">Archivierte Vorgänge</button>
                @if (User.IsInRole("Administrator"))
                {
                    @if (AllProcesses != null && User.IsInRole("Administrator"))
                    {
                        <button class="btn btn-primary" type="button" id="allProcessesButton"
                                onclick="changeTable('allProcessesTable', this)">Alle aktive Vorgänge</button>
                    }
                    
                    @if (AllArchivedProcesses != null && User.IsInRole("Administrator"))
                    {
                        <button class="btn btn-primary" type="button" id="allArchivedProcessesButton"
                                onclick="changeTable('allArchivedProcessesTable', this)">Alle archivierte Vorgänge</button>
                    }
                }
            </div>
        </div>
    </div>

    <!-- Beginn: MyProcess Liste -->
    <div class="table-responsive">
        <table class="table" id="myProcessesTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Vertragstyp</th>
                    <th>Abteilung</th>
                    <th>Bezugsperson</th>
                    <th>Zieldatum</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
                @if (MyProcesses != null)
                {
                    @foreach (var process in MyProcesses)
                    {
                        var id = process.Id;

                        <tr onclick="window.location='/Process/Detail/@process.Id'" class="hoverTableRow">
                            <td>@process.Title</td>
                            <td>@Html.Raw(process.Description.Replace("\n", "<br>"))</td>
                            <td>@process.ContractOfRefWorker.Label</td>
                            <td>@process.DepartmentOfRefWorker.Name</td>
                            <td>@process.WorkerOfReference.FullName</td>
                            <td>@process.DueDate.ToString()</td>
                            <td class="d-flex flex-row justify-content-evenly">
                                @if (User.IsInRole("Administrator") || process.Supervisor.Id == userId)
                                {
                                <a href="/Process/Edit/@id">
                                    <i class="far fa-edit" style="font-size: 20px;color: rgb(0,0,0);"></i>
                                </a>

                                
                                    <form action="@Url.Action("Stop", "Process", new { id = process.Id})" method="post">
                                        @Html.AntiForgeryToken()
                                        <button class="btn-close" type="submit" aria-label="Close"></button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                    if (MyProcesses.Count == 0)
                    {
                        <tr>
                            <td colspan="7">Keine Vorgänge vorhanden</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <!-- Ende: MyProcesses Liste -->


    <!-- Beginn: AllProcesses Liste -->
    @if (AllProcesses != null && User.IsInRole("Administrator"))
    {
        <div class="table-responsive">
            <table class="table" id="allProcessesTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Vertragstyp</th>
                    <th>Abteilung</th>
                    <th>Bezugsperson</th>
                    <th>Zieldatum</th>
                    <th>Aktionen</th>
                </tr>
                </thead>
                <tbody>
                @if (AllProcesses != null)
                {
                    @foreach (var process in AllProcesses)
                    {
                        var id = process.Id;

                        <tr onclick="window.location='/Process/Detail/@process.Id'" class="hoverTableRow">
                            <td>@process.Title</td>
                            <td>@process.Description</td>
                            <td>@process.ContractOfRefWorker.Label</td>
                            <td>@process.DepartmentOfRefWorker.Name</td>
                            <td>@process.WorkerOfReference.FullName</td>
                            <td>@process.DueDate.ToString()</td>
                            <td class="d-flex flex-row justify-content-evenly">
                                @if (User.IsInRole("Administrator") || process.Supervisor.Id == userId)
                                {
                                <a href="/Process/Edit/@id">
                                    <i class="far fa-edit" style="font-size: 20px;color: rgb(0,0,0);"></i>
                                </a>

                                <form action="@Url.Action("Stop", "Process", new { id = process.Id})" method="post">
                                    @Html.AntiForgeryToken()
                                    <button class="btn-close" type="submit" aria-label="Close"></button>
                                </form>
                                }
                            </td>
                        </tr>
                    }

                    if (@AllProcesses.Count == 0)
                    {
                        <tr>
                            <td colspan="7">Keine Vorgänge vorhanden</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    }

    <!-- Ende: AllProcesses Liste -->

    <!-- Beginn: AllArchivedProcesses Liste -->
    @if (AllArchivedProcesses != null && User.IsInRole("Administrator"))
    {
        <div class="table-responsive">
            <table class="table" id="allArchivedProcessesTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Vertragstyp</th>
                    <th>Abteilung</th>
                    <th>Bezugsperson</th>
                    <th>Zieldatum</th>
                    <th>Aktionen</th>
                </tr>
                </thead>
                <tbody>
                @if (AllArchivedProcesses != null)
                {
                    @foreach (var process in AllArchivedProcesses)
                    {
                        var id = process.Id;

                        <tr onclick="window.location='/Process/Detail/@process.Id'" class="hoverTableRow">
                            <td>@process.Title</td>
                            <td>@process.Description</td>
                            <td>@process.ContractOfRefWorker.Label</td>
                            <td>@process.DepartmentOfRefWorker.Name</td>
                            <td>@process.WorkerOfReference.FullName</td>
                            <td>@process.DueDate.ToString()</td>
                            <td class="d-flex flex-row justify-content-evenly">
                            </td>
                        </tr>
                    }

                    if (@AllArchivedProcesses.Count == 0)
                    {
                        <tr>
                            <td colspan="7">Keine Vorgänge vorhanden</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    }

    <!-- Ende: AllArchivedProcesses Liste -->

    <!-- Beginn: ArchivedProcesses Liste -->
    <div class="table-responsive">
        <table class="table" id="archivedProcessesTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Vertragstyp</th>
                    <th>Abteilung</th>
                    <th>Bezugsperson</th>
                    <th>Zieldatum</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
                @if (@ArchivedProcesses != null)
                {
                    @foreach (var process in @ArchivedProcesses)
                    {
                        var id = process.Id;

                        <tr onclick="window.location='/Process/Detail/@process.Id'" class="hoverTableRow">
                            <td>@process.Title</td>
                            <td>@process.Description</td>
                            <td>@process.ContractOfRefWorker.Label</td>
                            <td>@process.DepartmentOfRefWorker.Name</td>
                            <td>@process.WorkerOfReference.FullName</td>
                            <td>@process.DueDate.ToString()</td>
                            <td class="d-flex flex-row justify-content-evenly">
                            </td>
                        </tr>
                    }
                    if (@ArchivedProcesses.Count == 0)
                    {
                        <tr>
                            <td colspan="7">Keine archivierte Vorgänge vorhanden</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <!-- Ende: ArchivedProcesses Liste -->

   <!-- <script src="assets/bootstrap/js/bootstrap.min.js"></script> -->
</body>


<script>

    window.onload = function () {
        var allProcesses = document.getElementById("allProcessesTable");
        var allArchivedProcesses = document.getElementById("allArchivedProcessesTable");
        var archivedProcesses = document.getElementById("archivedProcessesTable");
        
        if ($("#allProcessesTable").length) {
            allProcesses.setAttribute("hidden", "hidden");
        }
        
        if ($("#allArchivedProcessesTable").length) {
            allArchivedProcesses.setAttribute("hidden", "hidden");
        }
        
        archivedProcesses.setAttribute("hidden", "hidden");

        if ($("#allProcessesTable").length) {
            document.getElementById("allProcessesButton").setAttribute("class", "btn btn-primary");
        }
        if ($("#allArchivedProcessesTable").length) {
            document.getElementById("allArchivedProcessesButton").setAttribute("class", "btn btn-primary");
        }
        document.getElementById("archivedProcessesButton").setAttribute("class", "btn btn-primary");
        document.getElementById("myProcessesButton").setAttribute("class", "btn btn-secondary");
    }

    function changeTable(tableId, button) {

        var myProcesses = document.getElementById("myProcessesTable");
        var allProcesses = document.getElementById("allProcessesTable");
        var allArchivedProcesses = document.getElementById("allArchivedProcessesTable");
        var archivedProcesses = document.getElementById("archivedProcessesTable");

        myProcesses.setAttribute("hidden", "hidden");
        if ($("#allProcessesTable").length) {
            allProcesses.setAttribute("hidden", "hidden");
        }

        if ($("#allArchivedProcessesTable").length) {
            allArchivedProcesses.setAttribute("hidden", "hidden");
        }
        
        archivedProcesses.setAttribute("hidden", "hidden");


        document.getElementById("myProcessesButton").setAttribute("class", "btn btn-primary");
        document.getElementById("archivedProcessesButton").setAttribute("class", "btn btn-primary");

        if ($("#allProcessesTable").length) {
            document.getElementById("allProcessesButton").setAttribute("class", "btn btn-primary");
        }

        if ($("#allArchivedProcessesTable").length) {
            document.getElementById("allArchivedProcessesButton").setAttribute("class", "btn btn-primary");
        }

        button.setAttribute("class", "btn btn-secondary");
        button.blur();

        var tableElement = document.getElementById(tableId);

        tableElement.removeAttribute("hidden");
    }

    function stop(processId) {

        $.ajax({
            url: '@Url.Action("Stop", "Process")',
            type: 'POST',
            data: { id: processId },
            success: function (response) {
                window.location.href = response.redirectToUrl;
            },
            error: function (xhr, status, error) {
                console.error("Error starting process: " + error);
            }
        });
    }

</script>